/* Main Styles for PEC */
.inline {
  display: inline;
}
.flex {
  display: flex;
  justify-content: space-between;
}
#nav-button-container {
  width: 30%;
}
#logo-container {
  width: 10%;
}
#logo {
  width: 100%;
  height: auto;
}
