
.inventoryItemContainer {
  background-color: #ecf0f1;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.inventoryItem {
  font-size: 2.3rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.inventoryItem div {
  margin-bottom: 6px;
}
.inventoryItemShadow {
  box-shadow: 0 4px 2px -2px gray;
  border-radius: 6px;
}
.inventoryItemTitle {
  font-size: 2.9rem;
  height: 85px;
}
.inventoryItemStatusA {
  background-color: #2ecc71;
}
.inventoryItemStatusB {
  background-color: #e74c3c;
}
.inventoryItemDetails {
  background-color: #2c3e50;
  color: #fff;
}
.inventoryItemCheckOut {
  background-color: #2980b9;
  color: #fff;
}
.inventoryItemOutofStock {
  background-color: #000;
  color: #fff;
}

/* Main Styles for PEC */
.inventoryItemContainer {
  background-color: #ecf0f1;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.inventoryItem {
  font-size: 2.3rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.inventoryItem div {
  margin-bottom: 6px;
}
.inventoryItemShadow {
  box-shadow: 0 4px 2px -2px gray;
  border-radius: 6px;
}
.inventoryItemTitle {
  font-size: 2.9rem;
  height: 85px;
}
.inventoryItemStatusA {
  background-color: #2ecc71;
}
.inventoryItemStatusB {
  background-color: #e74c3c;
}
.inventoryItemDetails {
  background-color: #2c3e50;
  color: #fff;
}
.inventoryItemCheckOut {
  background-color: #2980b9;
  color: #fff;
}
.inventoryItemOutofStock {
  background-color: #000;
  color: #fff;
}
.inline {
  display: inline;
}
.flex,
.page-navigation {
  display: flex;
}
.page-navigation-wrapper {
  background: #576162;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.page-navigation {
  justify-content: space-around;
}
.page-navigation-tab {
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
}
.page-navigation-tab:hover {
  background: #000;
}
#nav-button-container {
  width: 60%;
  line-height: 50px;
  vertical-align: middle;
  display: flex;
  justify-content: flex-end;
}
.nav-button {
  display: inline-block;
  margin-left: 5px;
  width: 30%;
  text-align: right;
}
#logo-container {
  line-height: 50px;
  width: 40%;
}
#logo {
  width: auto;
  height: 50px;
}
#logo-helper {
  margin-left: 8px;
  font-size: 2.2rem;
}
#profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
